body, html{
    height: 100vh;
    padding: 0;
    margin: 0;
}

.fullPage{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
}

.main{
    background-color: black;
    display: flex;
    flex-direction: row;
    flex: auto;
}

.projectHolder{
    height: 100%;
    width: 15%;

    background-color: orange;
}

.taskForm{
    display: flex;
    flex-direction: column;

    width: 200px;

    color: white;
    background-color: blue;
}